<html>
<head>
<title>Home</title>
<script type="text/javascript" src="d3/d3.min.js"></script>
</head>
<body>
<h2>Welcome to SimplyViz!	</h2>
<h3>Your simple data visualisation tool</h3><br>
<h3>Choose a type of visualisation:</h3>
<ul>
<li><a href="/bar">Bar Graph</a></li>
<li><a href="/line">Line Graph</a></li>
<li><a href="/scatterplot">Scatterplot</a></li>
<li><a href="/radarchart">Radarchart</a></li>
</ul>
</body>
</html>
